<h1><%= t ".description" %></h1>

<p><%= t ".say" %> <%= @user.name %>,</p>

<p>
  <%= t ".content" %>
</p>

<%= link_to t(".activate"), edit_account_activation_url(@user.activation_token,
  email: @user.email) %>
